<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5XPBJKXZNK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5XPBJKXZNK');
</script>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Tabaré Capitán",
  "url": "https://www.tabarecapitan.com",
  "sameAs": [
    "https://www.linkedin.com/in/tabareCapitan/",
    "https://github.com/tabareCapitan",
    "https://orcid.org/0000-0002-5055-3995",
    "https://scholar.google.com/citations?user=uqivDeoAAAAJ&hl=en"
  ],
  "jobTitle": "Researcher",
  "alumniOf": "University of Wyoming",
  "birthPlace": "Costa Rica",
  "knowsAbout": "Economics",
}
</script>

<--
  "worksFor": {
    "@type": "Organization",
    "name": "Your Institution"
  }
-->
